absl-py==1.4.0
cached-property==1.5.2
certifi==2022.12.7
charset-normalizer==3.1.0
chex==0.1.6
cloudpickle==2.2.1
clu==0.0.8
contextlib2==21.6.0
contourpy==1.0.7
cycler==0.11.0
decorator==4.4.2
distrax==0.1.3
dm-tree==0.1.8
etils==1.1.1
flax==0.6.7
fonttools==4.39.2
gast==0.5.3
gymnasium==0.27.1
gymnasium-notices==0.0.1
idna==3.4
imageio==2.26.1
imageio-ffmpeg==0.4.8
importlib-resources==5.12.0
jax==0.4.6
jax-jumpy==1.0.0
jaxlib==0.4.6+cuda11.cudnn86
kiwisolver==1.4.4
markdown-it-py==2.2.0
matplotlib==3.7.1
mdurl==0.1.2
ml-collections==0.1.1
moviepy==1.0.3
msgpack==1.0.5
nest-asyncio==1.5.6
numpy==1.22.4
opt-einsum==3.3.0
optax==0.1.4
orbax==0.1.5
packaging==23.0
Pillow==9.4.0
proglog==0.1.10
pygame==2.1.3.dev8
Pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.2
rich==13.3.2
scipy==1.10.1
six==1.16.0
tensorflow-probability==0.19.0
tensorstore==0.1.33
toolz==0.12.0
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
wrapt==1.15.0
zipp==3.15.0
